.body {
    margin: 0em;
}

.page {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: -100vw;
   overflow-y: auto;
   z-index: 0;
   background-color: hsl(0,0%,100%);
}

 .page:target {
   left: 0vw;
   z-index: 1;
}

#game {
    width: 95%;
    height: 95%;
}

.message {
    background-color: #ffffff;
    float: left;
    width: 20%;
    height: 80%;
    border-style: solid;
    position:relative;
}
#send { 
    background: #000;
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 5%;
    border-style: solid;
}

#send input { 
    position: relative;
    float: left;
    width: 70%; 
    height: 95%;
}

#send button { 
    position: relative;
    float: right;
    width: 25%; 
    height: 95%;
    background: rgb(130, 224, 255); 
    border: none; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee; 
}
.drawing {
    float: right;
    width: 75%;
    height: 80%;
    border-style: solid;
    position:relative;
}
#paper
{
    background-color: #eee;
}

#index {
    width: 95%;
    height: 95%;
}

#gameList {
    background-color: #ffffff;
    width: 80%;
    height: 80%;
    border-style: solid;
    margin: 0 auto;
}
#gameName
{
    border-style: solid;
    padding: 10px 0px;
    width: 80%;
    height: 5%;
    margin: 0 auto;
}
#gameText
{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}
